@model IEnumerable<BookStorePortal.Models.BookDetails>

@{
    ViewData["Title"] = "Virtual Book Store | Books";
}

<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="~/js/site.js"></script>
<title>@ViewData["Title"]</title>

@if (Model != null)
{
    <div>
        <main>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BookName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Author)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subcategory)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Publisher)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.price) ($)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.BookName, "GetBookDetails", new { id = item.BookId })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subcategory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Publisher)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </main>
    </div>
}
else
{
    <table class="table" id="table-bg">
        <thead>
            <tr>
                <table class="table" id="table-bg">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BookName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Author)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Subcategory)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Publisher)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.price) ($)
                            </th>
                        </tr>
                    </thead>
                </table>
            </tr>
        </thead>
        <tbody>
        <td style="text-align:justify;margin:auto">No Books available</td>
        </tbody>
    </table>
}

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Book details</p>
    </div>

</div>
<script>
    function DisplaySpecificBook() {
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("details");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
            modal.style.display = "block";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>